/* Reset default styles */
* {
    font-family: Arial, sans-serif;
    line-height: 1.8;
    box-sizing: border-box;
}
body {
    margin: 5px;
}

/* Container styling for layout */
.container {
    max-width: 1500px;
    margin: 2rem auto; 
    font-family: Arial, sans-serif;
}


#vis svg {
    margin: 2rem 0; 
    border: 1px solid #ccc;
}

.x-axis path,
.y-axis path,
.x-axis line,
.y-axis line {
    stroke: #333;
    shape-rendering: crispEdges;
}

.x-axis text,
.y-axis text {
    font-size: 12px;
    font-family: Arial, sans-serif;
}

.axis-label {
    font-size: 14px;
    font-weight: bold;
}

#tooltip {
    position: absolute; /* So we can move it with the cursor */
    padding: 10px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none; /* Prevent tooltip from interfering with mouse events */
    font-size: 12px;
}

.map path {
    fill: #fff;
    fill-opacity: 0;
    stroke: #aaa;
  }


.label {
    fill: #000;
    font-size: small;
    font-weight: lighter;
    font-family: Garamond Arial sans-serif;
}

#BillVis svg{
    border: 2px solid #ddd;
    display: block;
    margin: auto;
}

#outer-controls {
    display: flex;
    justify-content: center; 
    align-items: center;
}

#controls select {
    max-width: 200px;
}

#controls {
  display: flex; 
  align-items: center; 
}

/* Saurav's CSS Down Here */
.axis line,
.axis path {
    stroke: #333;
    shape-rendering: crispEdges;
}

.grid line {
    stroke: #ccc;
    stroke-dasharray: 3;
}

/* Remove the top solid line on the graph */
.grid path {
    display: none;
}

.x.label,
.y.label {
    font-size: 14px;
    font-weight: bold;
    fill: #333;
}

.chart-title {
    font-size: 20px;
    font-weight: bold;
    fill: #333;
}

.chart-title {
    font-size: 20px;
    font-weight: bold;
    fill: #333;
}

#metricSelect {
    padding: 6px;
    font-size: 14px;
}

#tickerSelect {
    padding: 6px;
    font-size: 14px;
}
.tooltip {
    position: absolute;
    pointer-events: none;
    background: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.2s ease;
  }